[submodule "agent/openthread"]
	path = agent/openthread
	url = https://github.com/oubotong/openthread
[submodule "agent/Zephyr-WAMR"]
	path = agent/Zephyr-WAMR
	url = https://github.com/oubotong/Zephyr-WAMR.git
