[Unit]
Description=Edge Resource Manager
After=network.target network-online.target
ConditionPathExists=/home/pi/edge-rm/agent/python

[Service]
User=pi
WorkingDirectory=/home/pi/edge-rm/agent/python
ExecStartPre=/usr/bin/git --git-dir=/home/pi/edge-rm/.git --work-tree=/home/pi/edge-rm pull
ExecStartPre=/usr/bin/pip3 install -r /home/pi/edge-rm/agent/python/requirements.txt
ExecStart=/usr/bin/python3 -u /home/pi/edge-rm/agent/python/agent.py --host conixdb.com
Restart=on-failure
RestartSec=120
RestartPreventExitStatus=SIGKILL
TimeoutStartSec=360

[Install]
WantedBy=multi-user.target
Alias=edge-rm-agent.service
